/**
 * @name ClearVision Add-on: Gradients
 * @author ClearVision Team
 * @version 1.0.0
 * @description Gradient add-on for ClearVision, make sure this is added first!
 * @source https://github.com/ClearVision/Addons
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
 */


/*add the contents of the root below into the root of of your theme file or copy the entire root below into the bottom of your theme

:root {
	--gradient-color1: var(--main-color);
	--gradient-color2: var(--hover-color); 
	--gradient-direction: 130deg; 
}

*/

/* ### Gradients for Clearvision v6.3.0 by Nyx ### */
.bd-toast,
.link__95dc0:after,
.containerDragAfter__437c5:after,
.containerDragBefore_fe91aa:after,
.containerDragAfter__437c5:before,
.containerDragBefore_fe91aa:before,
.containerUserOver__8b873:after,
.unread__75c9f:after,
.mention__1afd3:after,
.privateChannels__93473 .channel_c21703 .interactive_a868bc.interactiveSelected_ec846b:after,
.button_fb10b9,
.bar__004d9,
.newMessagesBar__8b6d7:before,
.jumpToPresentBar__0ff7f:hover,
[aria-selected=true].clickable_f8437d .base__76a71,
[aria-disabled=false].clickable_f8437d .base__76a71:hover,
.numberBadge__50328,
.textBadge__45d79,
.lookFilled__19298.colorBrand_b2253e,
.lookFilled__19298.colorGreen__5f181,
.lookFilled__19298.colorBrandNew_fd170a,
.lookFilled__19298.buttonColor_fa1bb3,
.lookFilled__19298.colorPrimary__6ed40,
.slider__22e99 .barFill__30e17,
.theme-dark .tooltip__01384.tooltipBrand__13fbc,
.item_f9d377,
.iconBadge_fdf33a.isCurrentUserConnected_d9734f,
.circleIconButton_d8df29.selected__5250e,
.container_d5f6d0,
.search_ac353c.searchFilter__118cb,
.search_ac353c.searchAnswer_b452e7,
.progressBar__47525,
.mediaBarGrabber_c64ff9,
.mediaBarProgress__29db2,
.mediaBarProgress__29db2:before,
.mediaBarProgress__29db2:after,
.bubble_f48089,
.picker__6dca7 .soundButton__5ad7b,
.picker__6dca7 .categoryIcon__7b2ea.selected__532c1,
.category__2d800.activeCategory_acadca,
.uploadInput_bbab2f,
.content__30de8 .categoryFadeBlurple_e73c11:after,
.content__30de8 [style*="background-color:"].result_e1fc74,
.tag__69d9d,
.option_f70eea,
.friendRequestsButton_f19806,
.item__48dda.selected__5711d:after,
.css-153nlb6-option,
.iconContainer__6fc72 {
  background: linear-gradient(var(--gradient-direction), var(--gradient-color1), var(--gradient-color2)) !important;
}

.members__9f47b .membersGroup__85843:not([style*="color: rgb"]) span,
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483 .name__590d6 .overflow__87fe8,
.privateChannels__93473 .privateChannelsHeaderContainer_ddcec6 .headerText__051c0,
.headerText__94c22 {
  background-image: linear-gradient(var(--gradient-direction), var(--gradient-color1), var(--gradient-color2)) !important;
  -webkit-background-clip: text;
  color: transparent !important;
}

.members__9f47b .membersGroup__85843:not([style*="color: rgb"]):before,
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483 .name__590d6:before,
.privateChannels__93473 .privateChannelsHeaderContainer_ddcec6:before,
.sidebar__9e3e2 .header_f72511:before {
  background: linear-gradient(to left, var(--gradient-color1) 50%, transparent) !important;
}
.members__9f47b .membersGroup__85843:not([style*="color: rgb"]):after,
.sidebar_ded4b5 .containerDefault__23a29 .wrapper__9c483 .name__590d6:after,
.privateChannels__93473 .privateChannelsHeaderContainer_ddcec6:after,
.sidebar__9e3e2 .header_f72511:after {
  background: linear-gradient(to right, var(--gradient-color1) 50%, transparent) !important;
}

.numberBadge__50328,
.textBadge__45d79 {
  box-shadow: none !important;
}

