/**
 * @name ClearVision Add-on: Gradients
 * @author ClearVision Team
 * @version 1.0.0
 * @description Gradient add-on for ClearVision, make sure this is added first!
 * @source https://github.com/ClearVision/Addons
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
 */


/*add the contents of the root below into the root of of your theme file or copy the entire root below into the bottom of your theme

:root {
	--gradient-color1: var(--main-color);
	--gradient-color2: var(--hover-color); 
	--gradient-direction: 130deg; 
}

*/

/* ### Gradients for Clearvision v6.3.0 by Nyx ### */
:root {
  /* Gradients */
  --gradient-color1: var(--main-color); /* primary color [default: var(--main-color) */
  --gradient-color2: var(--hover-color); /* secondary color [default: var(--hover-color) */
  --gradient-direction: 130deg; /* angle of gradient [default: 130deg] */
}

.bd-toast,
.link_d8bfb3:after,
.containerDragAfter_f6f816:after,
.containerDragBefore_f6f816:after,
.containerDragAfter_f6f816:before,
.containerDragBefore_f6f816:before,
.containerUserOver_f6f816:after,
.unread_edf32f:after,
.mention_edf32f:after,
.privateChannels_f0963d .channel_c91bad .interactive_c91bad.interactiveSelected_c91bad:after,
.button_a39fe9,
.bar_eba0ba,
.newMessagesBar_cf58b5:before,
.jumpToPresentBar_cf58b5:hover,
[aria-selected=true].clickable_bcc24e .base_bcc24e,
[aria-disabled=false].clickable_bcc24e .base_bcc24e:hover,
.numberBadge_df8943,
.textBadge_df8943,
.lookFilled_dd4f85.colorBrand_dd4f85,
.lookFilled_dd4f85.colorGreen_dd4f85,
.lookFilled_dd4f85.colorBrandNew__8872c,
.lookFilled_dd4f85.buttonColor_d4af21,
.lookFilled_dd4f85.colorPrimary_dd4f85,
.slider_c7a159 .barFill_c7a159,
.theme-dark .tooltip_b6c360.tooltipBrand_b6c360,
.item_c4cd66,
.circleIconButton_db6521.selected_db6521,
.container_cc7b67,
.search_a46bef.searchFilter_b0fa94,
.search_a46bef.searchAnswer_b0fa94,
.progressBar_c6473a,
.mediaBarGrabber_d12f5a,
.mediaBarProgress_d12f5a,
.mediaBarProgress_d12f5a:before,
.mediaBarProgress_d12f5a:after,
.bubble_d12f5a,
.picker_cd703d .soundButton_f40049,
.picker_cd703d .categoryIcon_ceda83.selected_ceda83,
.category_fa8ebf.activeCategory_fa8ebf,
.uploadIcon_a15d29,
.content_b56bbc .categoryFadeBlurple_af1167:after,
.content_b56bbc [style*="background-color:"].result_bad108,
.tag_effbe2,
.friendRequestsButton_c0c071,
.secondaryButtonPresentation_a1531c,
.item_a0.selected_a0:after,
.iconContainer__1b9f0 {
  background: linear-gradient(var(--gradient-direction), var(--gradient-color1), var(--gradient-color2)) !important;
}

.members_cbd271 .membersGroup_cbd271:not([style*="color: rgb"], #MemberCount h3) span,
.sidebar_a4d4d9 .containerDefault_a08117 .wrapper_a08117 .name_a08117 .overflow_a82120,
.privateChannels_f0963d .privateChannelsHeaderContainer_c47fa9 .headerText_c47fa9,
.headerText_a0 {
  background-image: linear-gradient(var(--gradient-direction), var(--gradient-color1), var(--gradient-color2)) !important;
  -webkit-background-clip: text;
  color: transparent !important;
}

.members_cbd271 .membersGroup_cbd271:not([style*="color: rgb"]):before,
.sidebar_a4d4d9 .containerDefault_a08117 .wrapper_a08117 .name_a08117:before,
.privateChannels_f0963d .privateChannelsHeaderContainer_c47fa9:before,
.sidebar_c25c6d .header_a0:before {
  background: linear-gradient(to left, var(--gradient-color1) 50%, transparent) !important;
}
.members_cbd271 .membersGroup_cbd271:not([style*="color: rgb"]):after,
.sidebar_a4d4d9 .containerDefault_a08117 .wrapper_a08117 .name_a08117:after,
.privateChannels_f0963d .privateChannelsHeaderContainer_c47fa9:after,
.sidebar_c25c6d .header_a0:after {
  background: linear-gradient(to right, var(--gradient-color1) 50%, transparent) !important;
}

.numberBadge_df8943,
.textBadge_df8943 {
  box-shadow: none !important;
}
