/**
 * @name ClearVision Add-on: Gradients
 * @author ClearVision Team
 * @version 1.0.0
 * @description Gradient add-on for ClearVision, make sure this is added first!
 * @source https://github.com/ClearVision/Addons
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
 */


/*add the contents of the root below into the root of of your theme file or copy the entire root below into the bottom of your theme

:root {
	--gradient-color1: var(--main-color);
	--gradient-color2: var(--hover-color); 
	--gradient-direction: 130deg; 
}

*/


/* backgrounds */
.wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, /* server icons, default home icon*/
.circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am, /* add server, explore public server */
.layer-3QrUeG .standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:after, /* selected tab in user/server/channel settings */
.standardSidebarView-3F1I7i .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255)"]::after, /* subscriptions, server boost status */
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after, /*selected tabs in home, dms */
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG, /* discover tab */
.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:after, /* selected channel */
.unread-1xRYoj:after, .mention-1f5kbO:after, /* unread channels bar */
.menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ.focused-3afm-j, .menu-3sdvDG:not(#status-picker) .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O), /* dropdown menu */
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY, .appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91, .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6, /* buttons */ 
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY:disabled, .appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled, /* disabled buttons */
.lookInverted-2D7oAl, .lookInverted-2D7oAl.colorBrand-3pXr91, .lookInverted-2D7oAl.colorGreen-29iAKY, /* more buttons */
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt, /* home page sub tabs */
.newMessagesBar-265mhP:before, /* new message bar */
.jumpToPresentBar-G1R9s6:hover /* jump to present bar */ {
	background: linear-gradient(130deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%) !important;
}



/* mentioned bg */
.mentioned-xhSam7, .mouse-mode.full-motion .mentioned-xhSam7:hover {
	background: none;
}
.mentioned-xhSam7:after {
	content: "";
	background: linear-gradient(130deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	opacity: 0.07;
	position: absolute;
	top: 0;
	right: 100%;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
}
.mentioned-xhSam7:hover:after {
	background: linear-gradient(130deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	opacity: 0.1;
}



/* categories */
.members-1998pB .membersGroup-v9BXpm, /* member list roles */
.sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS, /*channel categories */
.headerText-2F0828, /* dm catergory */
.discoverHeader-1TWTqG {
	background-image: linear-gradient(to right, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.members-1998pB .membersGroup-v9BXpm:before,
.name-IbjUBS:before,
.privateChannelsHeaderContainer-3NB1K1:before,
.discoverHeader-1TWTqG:before {
	background: linear-gradient(to left, var(--gradient-color1) 50%, transparent);
}
.members-1998pB .membersGroup-v9BXpm:after,
.name-IbjUBS:after,
.privateChannelsHeaderContainer-3NB1K1:after,
.discoverHeader-1TWTqG:after {
	background: linear-gradient(to right, var(--gradient-color2) 50%, transparent);
}

.privateChannelRecipientsInviteButtonIcon-3A3uTc /* dm '+' symbol */ {
	color: var(--gradient-color2) !important;
}



/* Unread channel hover bg */
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX {
	color: var(--gradient-color1);
}
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg {
	background-image: linear-gradient(var(--gradient-direction), var(--gradient-color1) 0%, var(--gradient-color2) 40%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.wrapper-1ucjTd.modeUnread-1zpFdA:hover .content-3at_AU .name-3_Dsmg {
	-webkit-text-fill-color: #fff;
}
.wrapper-1ucjTd:hover .content-3at_AU:before {
	opacity: 0.1;
	background: linear-gradient(130deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
	transition: none;
}
