/**
 * @name ClearVision Add-on: Server Size
 * @author ClearVision Team
 * @version 1.0.0
 * @description Server Size add-on for ClearVision, make sure this is added first!
 * @source https://github.com/ClearVision/Addons
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
 */

/*add the contents of the root below into the root of of your theme file or copy the entire root below into the bottom of your theme

:root {
  --server-size: 48px;
}

*/

/* ### Server Size for Clearvision v6.3.0 by Nyx ### */
:root {
  --server-size: 48px;
}

/*UNREAD/SELECTED INDICATOR*/
/*wrapper*/
.listItem_fa7b36 .wrapper__3670f {
  height: var(--server-size);
}

/*actual color*/
.listItem_fa7b36 .item_f9d377 {
  width: calc(var(--server-size) * 0.25) !important;
  height: calc(var(--server-size) * 0.25) !important;
  margin-left: calc(var(--server-size) * -0.125);
}

/*currently selected*/
.listItem_fa7b36 [style*="height: 40px"].item_f9d377 {
  height: calc(var(--server-size) * 5 / 6) !important;
}

/*FOLDER/SERVER*/
/*folder bg*/
.expandedFolderBackground__1bec6 {
  width: calc(var(--server-size));
  left: calc(var(--server-size) * 0.25);
}

/*actual server icon*/
/*first class is outer wrapper, second is svg image*/
.listItem_fa7b36 .wrapper__3af0b,
.listItem_fa7b36 .svg_ad7356 {
  height: calc(var(--server-size));
  width: var(--server-size);
}

/*height of overall containers*/
.theme-dark .scroller__3d071 > div[style*="height: 56px;"] {
  height: calc(var(--server-size) * 7 / 6) !important;
}

/*overall guilds container, individual items, and the wrapper*/
/*oh and the unread indicator*/
.unreadMentionsIndicatorTop_ada847, .unreadMentionsIndicatorBottom_fdb943,
.wrapper_a7e7a8,
.listItem_fa7b36,
.wrapper_ed1dea {
  width: calc(var(--server-size) * 1.5);
}

/*the folder bg height lol*/
.wrapper_ed1dea > ul[style*="height: "] {
  height: auto !important;
}

/*margins between servers*/
.listItem_fa7b36 {
  margin: 0 0 calc(var(--server-size) / 6);
}

/*ping icon*/
.listItem_fa7b36 .numberBadge__50328,
.listItem_fa7b36 .base__92a12 {
  font-size: calc(var(--server-size) / 4);
  width: calc(var(--server-size) / 3) !important;
  height: calc(var(--server-size) / 3);
}

/*keep it round because border-radius 8 only works when the width is 16 lol*/
.listItem_fa7b36 .baseShapeRound__95d0f {
  border-radius: 100%;
}
