/**
 * @name ClearVision Add-on: Server Size
 * @author ClearVision Team
 * @version 1.0.0
 * @description Server Size add-on for ClearVision, make sure this is added first!
 * @source https://github.com/ClearVision/Addons
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
 */

/*add the contents of the root below into the root of of your theme file or copy the entire root below into the bottom of your theme

:root {
  --server-size: 48px;
}

*/

/* ### Server Size for Clearvision v6.3.0 by Nyx ### */
:root {
  --server-size: 88px;
}

/*UNREAD/SELECTED INDICATOR*/
/*wrapper*/
.listItem_c96c45 .wrapper_c4cd66 {
  height: var(--server-size);
}

/*actual color*/
.listItem_c96c45 .item_c4cd66 {
  width: calc(var(--server-size) * 0.25) !important;
  height: calc(var(--server-size) * 0.25) !important;
  margin-left: calc(var(--server-size) * -0.125);
}

/*currently selected*/
.listItem_c96c45 [style*="height: 40px"].item_c4cd66 {
  height: calc(var(--server-size) * 5 / 6) !important;
}

/*FOLDER/SERVER*/
/*folder bg*/
.expandedFolderBackground_bc7085 {
  width: calc(var(--server-size));
  left: calc(var(--server-size) * 0.25);
}

/*actual server icon*/
/*first class is outer wrapper, second is svg image*/
.listItem_c96c45 .wrapper_c5f96a,
.listItem_c96c45 .svg_c5f96a {
  height: calc(var(--server-size));
  width: var(--server-size);
}

/*height of overall containers*/
.theme-dark .scroller_fea3ef > div[style*="height: 56px;"] {
  height: calc(var(--server-size) * 7 / 6) !important;
}

/*overall guilds container, individual items, and the wrapper*/
/*oh and the unread indicator*/
.unreadMentionsIndicatorTop_fea3ef, .unreadMentionsIndicatorBottom_fea3ef,
.wrapper_fea3ef,
.listItem_c96c45,
.wrapper_bc7085 {
  width: calc(var(--server-size) * 1.5);
}

/*the folder bg height lol*/
.wrapper_bc7085 > ul[style*="height: "] {
  height: auto !important;
}

/*margins between servers*/
.listItem_c96c45 {
  margin: 0 0 calc(var(--server-size) / 6);
}

/*ping icon*/
.listItem_c96c45 .numberBadge__40d6f,
.listItem_c96c45 .base__5ed84 {
  font-size: calc(var(--server-size) / 4);
  width: calc(var(--server-size) / 3) !important;
  height: calc(var(--server-size) / 3);
}

/*keep it round because border-radius 8 only works when the width is 16 lol*/
.listItem_c96c45 .baseShapeRound_df8943 {
  border-radius: 100%;
}
