/**
 * @name ClearVision Add-on: Speech Bubbles
 * @author Leozard
 * @version 1.0.0
 */

 
/* OPTIONAL
:root {
    --bubble-color: #fff;
    --bubble-hover-color: #fff:
} 
*/

.cozyMessage-3V1Y8y.groupStart-23k01U:not(.systemMessage-1I9LCe) {
    margin-top: 20px;
}
.divider-JfaTT5 + .cozyMessage-3V1Y8y.groupStart-23k01U:not(.systemMessage-1I9LCe) {
	margin-top: 1.0625rem;
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe)  .header-23xsNx {
    margin-bottom: 10px;
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .messageContent-2qWWxC, .cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .container-1ov-mD {
	width: fit-content;
	max-width: 90%;
    background-color: var(--bubble-color,hsla(0, 0%, 100%, 0.1));
    padding: 7px;
	border-radius: 0 5px 5px 5px;
	margin-top: 5px;
	margin-left: 10px;
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .contents-2mQqc9:before  {
	content: "";
	width: 14px;
	height: 14px;
    position: absolute;
	background-color: hsla(0, 0%, 100%, 0.1);
	clip-path: polygon(100% 0, 0 0, 100% 100%);
    left: 68px;
    top: 7px;
}
.cozyMessage-3V1Y8y.groupStart-23k01U .contents-2mQqc9:before {
	top: 33.5px;
}
.cozyMessage-3V1Y8y .repliedMessage-VokQwo + .contents-2mQqc9:before {
	top: 73.5px
}
.cozyMessage-3V1Y8y:hover .messageContent-2qWWxC, .cozyMessage-3V1Y8y:hover .container-1ov-mD, .cozyMessage-3V1Y8y:hover .contents-2mQqc9:before {
    background-color: var(--bubble-hover-color, hsla(0, 0%, 100%, 0.15));
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe) .buttonContainer-DHceWr {
    top: 24px
}
.cozyMessage-3V1Y8y:not(.systemMessage-1I9LCe).groupStart-23k01U .buttonContainer-DHceWr {
    top: 48px
}
.embedSuppressButton-1FonMn {
	right: 0;
}
.markup-2BOw-j blockquote, .markup-2BOw-j pre {
	max-width: 100%;
}
